* {
    margin: 0;;
}

body {
    background: radial-gradient( #5C6971, #1E3044);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

@media screen and (max-width: 830px) {
    .container {
        width: calc(100% - 100px);
        height: 100vh;
        background: radial-gradient( #5b8397, rgb(114, 132, 236));
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 50px;
        box-shadow: 4px 4px 29px 5px rgba(0,0,0,0.37);
    }
    .description {
        display: none;
    }
    hr {
        display: none;
    }
    .img-container img {
        width: 15px;
        height: 15px;
    }
    .img-container {
        display: none;
    }
    .col2 img {
        width: 35px;
        height: 35px;
        border-radius:50%;
    }
    .row1 {
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #fff;  */
    }
    .row2 {
        width: 100%;
        height: 100%;
        background: url('/task2/src/images/hamster.jpg'), no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        transition: all 0.5s linear;

        /* border: 2px solid #fff;  */
    }
    .row2 .col2 {
        width: 30%;
        height: 100%;
        background:rgba(15, 15, 15, 0.8);
        display: flex;
        flex-direction: column;
        transition: ease-out 0.3s;
    }
    .row2 .col1, .row3 .col1, .row4 .col1 {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .row2 .col3, .row3 .col3, .row4 .col3 {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        display: flex;
        width: 70%;
        height: 100%;
        /* background-color: rgb(188, 97, 97); */
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .col-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transition: ease-out 0.3s;
    }
    .column1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .column2 {
        display: none;
    }
    .column3 {
        display: none;
    }
    .column3 img {
        width: 4vh;
        height: 3vh;
    }
    .col3 .date {
        background-color: #14cdd7;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .col3 .date p {
        color: rgb(24, 24, 24);
        font-size: 7px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .row2:hover .col1, .row3:hover .col1, .row4:hover .col1{
        width: 30%;
        max-height: 100%;
        text-align: center;
        justify-content: center;
        background: rgb(235, 191, 65, 0.8);
        transition: ease-out 0.3s;
    }
    .row2:hover .col3, .row3:hover .col3, .row4:hover .col3{
        width: 0%;
        transition: ease-out 0.3s;
    }
    .row2:hover .date, .row3:hover .date, .row4:hover .date{
        display:none;
        transition: all 0.3s ease-out;
    }
    .row2:hover .description, .row3:hover .description, .row4:hover .description{
        display: block;
        padding-top: 1vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: ease-out 0.3s;
    }
    .row2:hover .img-container, .row3:hover .img-container, .row4:hover .img-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: ease-out 0.3s;
    }
    .row2:hover .col2, .row3:hover .col2, .row4:hover .col2{
        width: 70%;
        background:rgba(15, 15, 15, 0.8);
        transition: ease-out 0.3s;
    }
    .row2:hover p, .row3:hover p, .row4:hover p{
        display: block;
        font-size: 0.75vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: ease-out 0.3s;
    }
    .row2:hover .column2, .row3:hover .column2, .row4:hover .column2{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .row2:hover .column3, .row3:hover .column3, .row4:hover .column3{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .label {
        font-size: 10px;
        color: rgba(211, 211, 211, 0.607);
        font-weight: bold;
        margin-bottom: 10px;
    }
    .row3 {
        width: 100%;
        height: 100%;
        background: url('/task2/src/images/fon2.jpg'), no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
    }
    .row3 .col2 {
        width: 30%;
        height: 100%;
        background:rgba(15, 15, 15, 0.8);
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        
    }
    .row4 {
        width: 100%;
        height: 100%;
        background: url('/task2/src/images/coords.png'), no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
    }
    .row4 .col2 {
        width: 30%;
        height: 100%;
        background:rgba(15, 15, 15, 0.8);
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        
    }
    .col-main-1 {
        width: 40%;
        min-height: 100%;
        background: radial-gradient( #5b8397, rgb(114, 132, 236));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #fff;  */
    }
    
    .col-main-2 {
        width: 100%;
        height: 100%;
        background: radial-gradient( #5b8397, rgb(114, 132, 236));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #fff;  */
    }
}

@media screen and (min-width: 830px) {
    .container {
        width: calc(100% - 400px);
        height: 70vh;
        background: radial-gradient( #5C6971, #1E3044);
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 200px 200px 0 200px;
    }

    .description {
        display: none;
    }
    hr {
        display: none;
    }
    .img-container img {
        width: 35px;
        height: 35px;
    }
    .img-container {
        display: none;
    }
    .col2 img {
        width: 70px;
        height: 70px;
        border-radius:50%;
    }
    .row1 {
        width: 100%;
        height: 100%;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #fff;  */
    }
    .row2 {
        width: 100%;
        height: 100%;
        background: url('/task2/src/images/hamster.jpg'), no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
        transition: all 0.5s linear;

        /* border: 2px solid #fff;  */
    }
    .row2 .col2 {
        width: 30%;
        height: 100%;
        background:rgba(15, 15, 15, 0.8);
        display: flex;
        flex-direction: column;
        transition: ease-out 0.3s;
    }
    .row2 .col1, .row3 .col1, .row4 .col1 {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: stretch;
    }
    .row2 .col3, .row3 .col3, .row4 .col3 {
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        display: flex;
        width: 70%;
        height: 100%;
        /* background-color: rgb(188, 97, 97); */
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
    }
    .col-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        transition: ease-out 0.3s;
    }
    .column1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
    .column2 {
        display: none;
    }
    .column3 {
        display: none;
    }
    .column3 img {
        width: 2vh;
        height: 1.5vh;
    }
    .col3 .date {
        background-color: #14cdd7;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .col3 .date p {
        color: rgb(24, 24, 24);
        font-size: 15px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .row2:hover .col1, .row3:hover .col1, .row4:hover .col1{
        width: 30%;
        max-height: 100%;
        text-align: center;
        justify-content: center;
        background: rgb(235, 191, 65, 0.8);
        transition: ease-out 0.3s;
    }
    .row2:hover .col3, .row3:hover .col3, .row4:hover .col3{
        width: 0%;
        transition: ease-out 0.3s;
    }
    .row2:hover .date, .row3:hover .date, .row4:hover .date{
        display:none;
        transition: all 0.3s ease-out;
    }
    .row2:hover .description, .row3:hover .description, .row4:hover .description{
        display: block;
        padding-top: 1vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: ease-out 0.3s;
    }
    .row2:hover .img-container, .row3:hover .img-container, .row4:hover .img-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        transition: ease-out 0.3s;
    }
    .row2:hover .col2, .row3:hover .col2, .row4:hover .col2{
        width: 70%;
        background:rgba(15, 15, 15, 0.8);
        transition: ease-out 0.3s;
    }
    .row2:hover p, .row3:hover p, .row4:hover p{
        display: block;
        font-size: 1.5vh;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        transition: ease-out 0.3s;
    }
    .row2:hover .column2, .row3:hover .column2, .row4:hover .column2{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .row2:hover .column3, .row3:hover .column3, .row4:hover .column3{
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    .label {
        font-size: 20px;
        color: rgba(211, 211, 211, 0.607);
        font-weight: bold;
        margin-bottom: 20px;
    }
    .row3 {
        width: 100%;
        height: 100%;
        background: url('/task2/src/images/fon2.jpg'), no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
    }
    .row3 .col2 {
        width: 30%;
        height: 100%;
        background:rgba(15, 15, 15, 0.8);
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        
    }
    .row4 {
        width: 100%;
        height: 100%;
        background: url('/task2/src/images/coords.png'), no-repeat;
        background-size: 100% 100%;
        display: flex;
        flex-direction: row;
    }
    .row4 .col2 {
        width: 30%;
        height: 100%;
        background:rgba(15, 15, 15, 0.8);
        display: flex;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        
    }
    .col-main-1 {
        width: 40%;
        min-height: 100%;
        background: linear-gradient(to bottom, #303D46, 10% #1B2838, 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #fff;  */
    }
    
    .col-main-2 {
        width: 100%;
        height: 100%;
        background: radial-gradient( #5b8397, rgb(114, 132, 236));
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* border: 2px solid #fff;  */
    }
}
