* {
    margin: 0;
    box-sizing: border-box;
    /* font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-family: Tahoma,Arial,sans-serif;

}

a {
    text-decoration: none;
    color: initial;
}

header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    width: auto;
    height: 5vh;
}

body {
    background-color: #E5E5E5;
    text-align: center;
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    height: 95vh;
}

.cons {
    background-color: #f1f1f1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    height: 5vh;
    
}

.cons-item {
    text-align: center;
    background-color: #ffffff;
}

.flex-items {
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    background-color: #ffffff;
    /* border-top: 1.5vh solid #575353; */
    width: 100%;
    height: 100%;
}

.container-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    align-items: stretch;
}

.container-top {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 50px 30px 50px;
    width: auto;
    height: auto;
    background-color: #f1f1f1;
}

header {
    position: sticky;
    top: 0;
    padding: 0px 20px 0px 20px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 5vh;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    justify-content: space-around;
}

.pages {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: left;
    justify-items: left;
    padding: 0;
    
}
.pages a {
    text-decoration: none;
    font-size: 1.5vh;
    font-weight: bold;
    padding: 10px;
}

.pages li {
    display: flex;
    justify-content: left;
    align-items: left;
    width: auto;
    height: 100%;
    list-style: none;
    justify-content: space-around;
}

#flex-items-left {
    /* border-right: 1.5px solid #575353; */
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}

#flex-items-left h2 {
    font-size: 3vh;
    font-weight: bold;
    font-family: system-ui;
    padding: 10px;}

#flex-items-left li {
    justify-content: left;
    align-items: left;
    width: auto;
    height: auto;
    text-align: start;
    list-style: none;
    background-color:rgb(255, 255, 255);
    border-radius: 8px;
    margin: 3px 0 3px 0;
    padding:0 10px 0 10px;
    transition: ease-out 0.3s;
}

#flex-items-left li a {
    text-decoration: none;
    font-size: 1.5vh;
    font-weight: bold;
    margin: 0;
    padding: 10px 0 10px 0;
}

/* RIGHT COLUMN WITH ALL PRODUCTS */
#flex-items-right {
    width: 75%;
    height: auto;
    justify-content: space-around;
}

.show-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-end;
}

.show-box {
    border-radius: 10px;
    flex-direction: column;
    display: flex;
    width: 25%;
    height: 100%;
    background-color: #f1f3f7;
    /* background-color: #1b378a;  */
}

.show-box img {
    width: 100%;
    height: 150px;
    
}

.show-box-title {
    font-size: 1.5vh;
    font-weight: bold;
    text-align: left;
    text-align-last: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000000;

}

.prefs .prefs-row .prefs-cell:nth-child(even) {
    text-align: right; 
    font-size: 1.3vh;
    font-weight: bold;
}
.prefs .prefs-row .prefs-cell:nth-child(odd) {
    text-align: left; 
    font-size: 1.3vh;
}

.show-box-price {
    padding-top: 10px;
    text-align: left; 
    font-size: 2vh;
    font-weight: bold;
}

.show-box form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-end;
    align-self: flex-end;
}

.show-box-button {
    padding-top: 10px;
    width: 100%;
    margin-top: 20px;
    padding-bottom: 10px;
    text-align: left; 
    font-size: 1.5vh;
    font-weight: bold;
    background-color: black;
    color:#F4F5F8;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    transition: ease-out 0.3s;
    border: 1px solid #ffffff;
}

.show-box-button:hover {
    background-color: #F4F5F8;
    color: black;
    transition: ease-out 0.3s;
    border: 1px solid #141414;
    
}

.show-box-button:active {
    background-color: #a0a0a0;
    color: black;
    transition: ease-out 0.1s;
}

.cons-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    align-self: flex-end;
    align-content: center;
    margin: 10px;
}

.cons-item p {
    font-size: 1.5vh;
    text-align: left;
    text-align-last: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #151515;
}

.container-bottom {
    display: flex;
    padding: 20px 20px 20px 20px;
    background-color: #ffffff;
}

.container-bottom-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
    border-radius: 30px;
    background-color: #202226;
    justify-content: space-around;
    align-self: flex-end;
    align-content: center;
    margin: 10px;
    text-align: left;
    color: #E5E5E5;
}

.container-bottom-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    justify-content: space-around;
    align-items: center;
    align-self: flex-start;
    align-content: center;
    margin: 10px;
    text-align: left;
    color: #E5E5E5;
}

.container-bottom-right {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 50%;
    height: auto;
    justify-content: space-around;
    align-items: flex-start;
    align-self: flex-end;
    margin: 10px;
    text-align: left;
    color: #E5E5E5;
}

.container-bottom-right form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: flex-start;
    align-self: flex-end;
    margin: 10px;
    width: 100%;
}

form input {
    border: none;
    font-size: 1.5vh;
    font-weight: bold;
    text-align: left;
    text-align-last: auto;
    margin-top:20px;
    margin-bottom:20px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fcfcfc;
    background-color: #202226;
    width: 100%;
}

.btn-primary {
    background-color: #f5f5f5;
    color: #151515;
    border: none;
    height: auto;
    width: auto;
    font-size: 1.5vh;
    font-weight: bold;
    padding: 1.3em;
    margin: 30px auto 30px 10px; 
    border-radius: 7px;
    display: flex;
    transition: ease-out 0.3s;
}

.btn-primary:hover {
    background-color: #151515;
    color: #fcfcfc;
    transition: ease-out 0.3s;
    border-top: 1px solid #fcfcfc;
    border-left: 1px solid #fcfcfc;
}

.container-bottom-left p {
    font-size: 1.4vh;
    text-align: left;
    text-align-last: auto;
    padding: 1em 2.8em 2.8em 2.8em;
    color: #fefefe;
}

.container-bottom-left span {
    font-size: 3vh;
    text-align: left;
    text-align-last: auto;
    padding: 1.3em 1.3em 0.2em 1.3em;
    color: #fefefe;
}

